body{
    background-color: rgb(156, 106, 24);

}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    text-align: center;
    
}

div{
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: justify;
    
}

.image{
    
    left: 380px;
    width: 100%;
    height: auto;
}

.breadcrumb{
    background-color: rgb(0, 0, 0);

}