:root{
    --lucas: rgb(0, 0, 0);
    --gabriel: 'Roboto Condensed', sans-serif;
    
}

@media(max-width: 1200px) {
    
    body{
        width: 420px;
        background-color: rgb(255, 255, 255);
        height: auto;
      }

}


body{
    background: linear-gradient(0deg, rgba(0,0,0,0.9836528361344538) 27%, rgba(253,170,45,1) 100%);

}

.image{
    width: 800px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: var(--gabriel);
    font-size: 60px;
    text-align: center;
    
}

div{
    font-family: var(--gabriel);
}

p{
    font-family: var(--gabriel);
    font-size: 20px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.carrosel{
    width: 800px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    background: var(--lucas);

}
@media(max-width: 992px) {
    
    body{
        width: 420px;
        background-color: rgb(255, 255, 255);
        height: auto;
      }

      body{
        background: linear-gradient(0deg, rgba(0,0,0,0.9836528361344538) 27%, rgba(253,170,45,1) 100%);
    
    }
    
    .image{
        width: 442px;
        height: 442px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1{
        font-family: var(--gabriel);
        font-size: 60px;
        text-align: center;
        
    }
    
    div{
        font-family: var(--gabriel);
    }
    
    p{
        font-family: var(--gabriel);
        font-size: 20px;
        text-align: justify;
        color: rgb(255, 255, 255);
    }
    .carrosel{
        width: 420px;
        height: 420px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    

}   